MyBot
Makefile
*.hlt
*.log
*~
*.pyc
*.pyo
__pycache__/
*.class
*.ipr
*.iws

# Temp folders
.vs/
HaliteAI/Debug
HaliteAI/HaliteAI/Debug/

# Avoid pushing compilation
HaliteAIDbg.pdb
HaliteAIDbg.exe
HaliteAI.pdb
HaliteAI.exe
